html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  max-height: 100vh;
  color: white;
  background-image: url(bg.png);
  background-size: cover;
  overflow: hidden;
  user-select: none;
  animation: none;
  overflow-x: hidden;
}

.retiro {
  display: flex;
  justify-content: center;
  font-size: 150px;
  font-weight: 600;
  margin: auto;
  width: 100vh;
  text-wrap: nowrap;
}

.container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 110px;
  height: 200px;
}

.number {
  margin: 0;
  font-size: 30vh;
}

.number::before {
  content: "Número: ";
  font-size: 25vh;
}

.contenedor_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
}

.ads {
  height: 50vh;
}
