html {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  height: 100vh;
  color: white;
  background-image: url(bg.png);
  background-size: cover;
  overflow: hidden;
  overflow-x: hidden;
  animation: none;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.retiro {
  font-size: 7vw;
  text-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.number {
  margin: 0 auto;
  font-size: 20vh;
  width: 100%;
  max-height: 210px;
  text-align: center;
}

.number::before {
  content: "Número: ";
}

.ads {
  height: 50vh;
  width: 100%;
}
