html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  max-height: 100vh;
  color: white;
  background-image: url(bg.png);
  background-size: cover;
  overflow: hidden;
  user-select: none;
  animation: none;
  overflow-x: hidden;
}

.retiro {
  display: flex;
  justify-content: center;
  font-size: 17vh;
  margin: auto;
  text-wrap: nowrap;
  width: 100vh;
  max-width: 100vh;
}

.number {
  margin: auto;
  font-size: 20vh;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.number::before {
  content: "Número: ";
}

.contenedor_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
}

.ads {
  height: 50vh;
}
